@import "../../../../styles/foundation";
@import "../../../../styles/shared";

.PageList {
  margin: 0;
  padding: 0;

}

.PageListItem {
  padding: 0 0 spacing();
  border-top: border();

  &:first-child {
    border-top: 0;
  }
}