@import "../../styles/foundation";
@import "../../styles/shared";

@mixin text-container-spacing($spacing: base) {
  // stylelint-disable-next-line selector-max-combinators
  > * + * {
    margin-top: (spacing($spacing));
  }
}

.TextContainer {
  @include text-container-spacing;
}

.spacingTight {
  @include text-container-spacing(tight);
}

.spacingLoose {
  @include text-container-spacing(loose);
}