@import "../../../../styles/foundation";
@import "../../../../styles/shared";

.CloseButton {
  @include unstyled-button;
  margin-left: spacing(loose);
  margin-right: -1 * spacing(tight);
  padding: spacing(tight);

  &:focus,
  &:active {
    border-radius: border-radius(large);
    background: plain-button-background();
  }
}

.withoutTitle {
  position: absolute;
  right: spacing(tight);
}