@import "../../styles/foundation";
@import "../../styles/shared";


$entry-iterations: 1;
$backdrop-color: rgba(33, 43, 54, 0.4);

.Backdrop {
  position: fixed;
  z-index: z-index(backdrop, $fixed-element-stacking-order);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: $backdrop-color;
  animation: fade-in duration() $entry-iterations forwards;
  opacity: 1;
  will-change: opacity;
}

.belowNavigation {
  z-index: z-index(nav-backdrop, $fixed-element-stacking-order);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}