@import "../../styles/foundation";
@import "../../styles/shared";

$breakpoint: 550px;

.DescriptionList {
  margin: 0;
  padding: 0;

  @include page-content-breakpoint-after($breakpoint) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.Term {
  @include text-emphasis-strong;
  padding: spacing() 0 spacing(tight);

  @include page-content-breakpoint-after($breakpoint) {
    flex: 0 1 25%;
    padding: spacing() spacing() spacing() 0;

    // stylelint-disable-next-line selector-max-class, selector-max-combinators
    .Description + & + .Description {
      border-top: border();
    }
  }
}

.Description {
  margin-left: 0;
  padding: 0 0 spacing();

  + .Term {
    border-top: border();
  }

  @include page-content-breakpoint-after($breakpoint) {
    flex: 1 1 51%;
    padding: spacing() 0;

    // stylelint-disable-next-line selector-max-class, selector-max-combinators
    + .Term + .Description {
      border-top: border();
    }
  }
}